.map-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.map-container {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 14px;
}

.mapboxgl-popup-tip {
  border: none;
}

.mapboxgl-popup-close-button {
  display: none;
}

.animate-route-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.animate-route-button:hover {
  background-color: #f0f0f0;
}